<!-- 
	https://jp.vuejs.org/v2/guide/index.html
-->
<!DOCTYPE html>
<html>

<head>
	<title>My first Vue app</title>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
</head>

<body>
	<div id="app">
		{{ message }}
	</div>

	<div id="app-2">
		<span v-bind:title="message">
			Hover your mouse over me for a few seconds
			to see my dynamically bound title!
		</span>
		<!--
			v-bind 属性はディレクティブと呼ばれています
			この要素の title 属性を Vue インスタンスの message プロパティによって更新して保存する
			再び JavaScript コンソールを開いて、app2.message = 'some new message' を打ち込むと、
			もう一度束縛されたHTML（このケースでは title 属性）が更新されるのが確認できるでしょう。
			-> タイトル属性が変わる
		-->
	</div>

	<div id="app-3">
		<span v-if="seen">Now you see me</span>
		<!--
			コンソールから app3.seen = false を入力してみましょう。メッセージが消えるはずです。
			テキストをデータに束縛できるだけではなく、 DOM の構造にデータを束縛できることを示しています。
			さらに Vue は、要素が Vue によって挿入/更新/削除されたとき、
			自動的にトランジションエフェクト(遷移効果)を適用できる強力なトランジション効果システムも提供します。
		-->
	</div>

	<div id="app-4">
		<ol>
			<li v-for="todo in todos">
				{{ todo.text }}
			</li>
		</ol>
		<!--
			Vue.js にはかなりの数のディレクティブがあり、それぞれ独自に特別な機能を持っています。
			例えば、v-for ディレクティブを使えばアイテムのリストを配列内のデータを使って表示することができます:
			コンソールで app4.todos.push({ text: 'New item' }) と入力してみましょう。
			リストに新しいアイテムが追加されたはずです。
		-->
	</div>

	<div id="app-5">
		<p>{{ message }}</p>
		<button v-on:click="reverseMessage">Reverse Message</button>
		<!--
			ユーザーがあなたのアプリケーションと対話できるように、
			v-on ディレクティブを使ってイベントリスナを加え、
			Vue インスタンスのメソッドを呼び出すことができます:

			reverseMessage メソッドの中では DOM 操作を行っていません。
			アプリケーションの状態のみを更新していることに注意してください。
			すべての DOM 操作を Vue に任せられるので、背後のロジックを書くことに集中することができます。
		-->
	</div>

	<div id="app-6">
		<p>{{ message }}</p>
		<input v-model="message">
		<!--
			Vue は入力とアプリケーションの状態の「双方向バインディング」が簡単に行える v-model ディレクティブも提供します:
		-->
	</div>

	<!--
		コンポーネントによる構成

		コンポーネントシステムは Vue.js におけるもうひとつの重要な抽象概念です。
		「小さく、自己完結的で、（多くの場合）再利用可能なコンポーネント」を組み合わせることで、
		大規模アプリケーションを構築することが可能になります。
		アプリケーションのインターフェイスについて考えてみると、
		ほぼすべてのタイプのインターフェイスはコンポーネントツリーとして抽象化することができます:

		Vue においては、「コンポーネント」は本質的にはあらかじめ定義されたオプションを持つ Vue インスタンスです。
		他のコンポーネントのテンプレートからコンポーネントを利用できるようになります:

		親のスコープから子コンポーネントへとデータを渡せるようにすべきです。
		プロパティを受け取れるようにコンポーネントの定義を変えてみましょう:

	-->

	<div id="app-7">
		<ol>
			<!--
				各 todo-item の内容を表す todo オブジェクトを与えます。
				これにより内容は動的に変化します。
				また後述する "key" を各コンポーネントに提供する必要があります。
			-->
			<todo-item v-for="item in groceryList" v-bind:todo="item" v-bind:key="item.id"></todo-item>
		</ol>
	</div>

	<script>
		var app = new Vue({
			el: '#app',
			data: {
				message: 'Hello Vue!'
			}
		})

		var app2 = new Vue({
			el: '#app-2',
			data: {
				message: 'You loaded this page on ' + new Date().toLocaleString()
			}
		})

		var app3 = new Vue({
			el: '#app-3',
			data: {
				seen: true
			}
		})

		var app4 = new Vue({
			el: '#app-4',
			data: {
				todos: [
					{ text: 'Learn JavaScript' },
					{ text: 'Learn Vue' },
					{ text: 'Build something awesome' }
				]
			}
		})

		var app5 = new Vue({
			el: '#app-5',
			data: {
				message: 'Hello Vue.js!'
			},
			methods: {
				reverseMessage: function () {
					this.message = this.message.split('').reverse().join('')
				}
			}
		})

		var app6 = new Vue({
			el: '#app-6',
			data: {
				message: 'Hello Vue!'
			}
		})

		Vue.component('todo-item', {
			props: ['todo'],
			template: '<li>{{ todo.text }}</li>'
		})

		var app7 = new Vue({
			el: '#app-7',
			data: {
				groceryList: [
					{ id: 0, text: 'Vegetables' },
					{ id: 1, text: 'Cheese' },
					{ id: 2, text: 'Whatever else humans are supposed to eat' }
				]
			}
		})
	</script>
</body>

</html>